<!DOCTYPE html>
<html>
<head>
    <title>OCR Score</title>
    <link rel="icon" type="image/x-icon" href="~/Home/favicon.ico">
    <link rel="stylesheet" href="~/Home/Home.css">
    <link rel="stylesheet" href="~/Image/Image.css">
</head>
<body>

    <ribbon>
        <button id="StartBtn" onclick="Process.StartOCR()">Start recognition</button>
    </ribbon>
    <div id="FrameLine"></div>
    <div id="Frame">
        <input type="file" id="UploadBtn" onchange="Home.UploadDisplay(this.files)" />
        <label for="UploadBtn">Upload Image</label>
    </div>

    <script src="~/Home/CoreFunctions.js"></script>
    <script src="~/Home/Home.js"></script>
    <script src="~/Process/Process.js"></script>
    <script src="~/Image/Image.js"></script>
</body>
</html>