#Bitmap {
    border-image: linear-gradient(to right, rgb(49 87 137) 10%, rgb(44 62 105) 70%) 1 / 1 / 0 stretch;
    border-width: 10px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
}